<%= content_for(:heading) do %>
  <h1 class="home-title"><%= @board.name %></h1>
<% end %>

<!-- <form action="#" class="form-inline pbxl">
  <div class="row">
    <div class="col-md-2">
      <select class="form-control form-block">
        <option>- Choose an period -</option>
      </select>
    </div>
    <div class="col-md-1">
      <div class="btn btn-primary btn-block">Submit</div>
    </div>
  </div>
</form> -->

<section class="row">
  <div class="col-md-6">
    <h2 class="module-title"><%= fa_icon "bar-chart" %> Dashboard</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h1 class="card-title"><%= @board.cards.count %></h1>
          <h3>Total cards</h3>
        </div>
        <div class="card">
          <h1 class="card-title">38</h1>
          <h3>Total points</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.members.count %></h1>
          <h3>Active members</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h1 class="card-title"><%= @board.average_points_per_member %></h1>
          <h3>Average <strong>points</strong> per active member</h3>
        </div>
        <div class="card">
          <h1 class="card-title">2.5</h1>
          <h3>Average <strong>points</strong> per card</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.average_cards_per_member %></h1>
          <h3>Average <strong>cards</strong> per active member</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="module-title"><%= fa_icon "trophy" %> Badges</h2>
    <% 3.times do %>
      <div class="card">
        <%= fa_icon "space-shuttle", class: "fa-5x text-secondary ptl" %>
        <h3>Louis Hamilton</h3>
      </div>
    <% end %>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <h3 class="module-title"><%= fa_icon "line-chart" %> Cards / member</h3>
      <canvas id="chart-1" width="500" height="400"></canvas>
      <ul class="dnone">
        <li data-label="Luiz" data-value="10"></li>
        <li data-label="Diego" data-value="25"></li>
        <li data-label="Rodolfo" data-value="40"></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="module-title"><%= fa_icon "line-chart" %> Points / member</h3>
      <canvas id="chart-2" width="500" height="400"></canvas>
    </div>
  </div>
</section>