<%= content_for(:heading) do %>
  <h1 class="home-title"><%= @board.name %></h1>
<% end %>

<!-- <form action="#" class="form-inline pbxl">
  <div class="row">
    <div class="col-md-2">
      <select class="form-control form-block">
        <option>- Choose an period -</option>
      </select>
    </div>
    <div class="col-md-1">
      <div class="btn btn-primary btn-block">Submit</div>
    </div>
  </div>
</form> -->

<section class="row">
  <div class="col-md-6">
    <h2 class="module-title"><%= fa_icon "bar-chart" %> Dashboard</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h1 class="card-title"><%= @board.cards.count %></h1>
          <h3>Total cards</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.total_points %></h1>
          <h3>Total points</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.members.count %></h1>
          <h3>Active members</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h1 class="card-title"><%= @board.average_points_per_member %></h1>
          <h3>Average <strong>points</strong> per active member</h3>
        </div>
        <div class="card">
          <h1 class="card-title">2.5</h1>
          <h3>Average <strong>points</strong> per card</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.average_cards_per_member %></h1>
          <h3>Average <strong>cards</strong> per active member</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="module-title"><%= fa_icon "trophy" %> Badges</h2>
    <div class="card">
      <div class="row">
        <div class="col-md-4 pts">
          <%= fa_icon "bicycle", class: "fa-4x text-secondary ptl" %>
          <h3><%= @board.best_member_avarage.fullName %></h3>
        </div>
        <div class="col-md-8 text-left ptl">
          <h4>Prefer large tasks</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsum ipsam nam cupiditate temporibus, non facilis ducimus et architecto laboriosam.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-4 pts">
          <%= fa_icon "space-shuttle", class: "fa-4x text-secondary ptl" %>
          <h3>Rubens Barrichelo</h3>
        </div>
        <div class="col-md-8 text-left ptl">
          <h4>Prefer minor tasks</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsum ipsam nam cupiditate temporibus, non facilis ducimus et architecto laboriosam.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-4 pts">
          <%= fa_icon "database", class: "fa-4x text-secondary ptl" %>
          <h3>Louis Hamilton</h3>
        </div>
        <div class="col-md-8 text-left ptl">
          <h4>Has more tasks</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsum ipsam nam cupiditate temporibus, non facilis ducimus et architecto laboriosam.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <h3 class="module-title"><%= fa_icon "line-chart" %> Cards / member</h3>
      <canvas id="chart-1" data-values="#values-1" width="500" height="200"></canvas>
      <ul id="values-1" class="dnone">
        <li data-label="Luiz" data-value="10"></li>
        <li data-label="Diego" data-value="25"></li>
        <li data-label="Rodolfo" data-value="40"></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="module-title"><%= fa_icon "line-chart" %> Points / member</h3>
      <canvas id="chart-2" width="500" height="200"></canvas>
    </div>
  </div>
</section>

<section>
  <h3 class="module-title pvl"><%= fa_icon "users" %> Active Members (Supercards)</h3>
  <div class="row">
    <% @board.members_with_cards.each do |member| %>
      <div class="col-md-3">
        <div class="card card-super">
          <%= image_tag gravatar_image(current_user, "150"), class: "card-photo mtl mvm" %>
          <h3><%= member.fullName %></h3>
          <ul class="card-list">
            <li>Average points: <strong><%= member.average_points %></strong></li>
            <li>Quantity cards: <strong><%= member.cards.count %></strong></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</section>