<%= content_for(:heading) do %>
  <h1 class="home-title"><%= @board.name %></h1>
<% end %>

<!-- <form action="#" class="form-inline pbxl">
  <div class="row">
    <div class="col-md-2">
      <select class="form-control form-block">
        <option>- Choose an period -</option>
      </select>
    </div>
    <div class="col-md-1">
      <div class="btn btn-primary btn-block">Submit</div>
    </div>
  </div>
</form> -->

<section class="row">
  <div class="col-md-6">
    <h2 class="module-title"><%= fa_icon "bar-chart" %> Dashboard</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h1 class="card-title"><%= @board.cards.count %></h1>
          <h3>Total cards</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.total_points %></h1>
          <h3>Total points</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.members_with_cards.count %></h1>
          <h3>Active members</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h1 class="card-title"><%= @board.average_points_per_member %></h1>
          <h3>Average <strong>points</strong> per active member</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.average_points_per_card %></h1>
          <h3>Average <strong>points</strong> per card</h3>
        </div>
        <div class="card">
          <h1 class="card-title"><%= @board.average_cards_per_member %></h1>
          <h3>Average <strong>cards</strong> per active member</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="module-title"><%= fa_icon "trophy" %> Badges</h2>
    <div class="card">
      <div class="row">
        <div class="col-md-4 pts">
          <%= image_tag "https://octodex.github.com/images/ironcat.jpg", class: "card-image" %>
        </div>
        <div class="col-md-8 text-left ptl">
          <h4><strong><%= @board.best_member_average.fullName %></strong> prefers larger tasks</h4>
          <p class="text-muted"><%= @board.best_member_average.fullName %> has an average of <%= @board.best_member_average.average_points %> points per card, which means this member likes to pick up larger tasks.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-4 pts">
          <%= image_tag "https://octodex.github.com/images/constructocat2.jpg", class: "card-image" %>
        </div>
        <div class="col-md-8 text-left ptl">
          <h4><strong><%= @board.member_minor_tasks.fullName %></strong> prefers minor tasks</h4>
          <p class="text-muted"><%= @board.member_minor_tasks.fullName %> has an average of <%= @board.member_minor_tasks.average_points %> points per card, which means this member likes to pick up shorter tasks.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-4 pts">
          <%= image_tag "https://octodex.github.com/images/droctocat.png", class: "card-image" %>
        </div>
        <div class="col-md-8 text-left ptl">
          <h4><strong><%= @board.member_with_more_tasks.fullName %></strong> has more tasks</h4>
          <p class="text-muted"><%= @board.member_with_more_tasks.fullName %> has <%= @board.member_with_more_tasks.cards.count %> tasks, which means this member has more cards than the other members of this board.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-6">
      <h3 class="module-title"><%= fa_icon "line-chart" %> Cards / member</h3>
      <canvas id="chart-1" data-values="#values-1" width="500" height="200"></canvas>
      <ul id="values-1" class="dnone">
        <% @board.members_with_cards.each do |member| %>
          <li data-label="<%= member.fullName %>" data-amount="<%= member.cards.count %>"></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="module-title"><%= fa_icon "line-chart" %> Points / member</h3>
      <canvas id="chart-2" data-values="#values-2" width="500" height="200"></canvas>
      <ul id="values-2" class="dnone">
        <% @board.members_with_cards.each do |member| %>
          <li data-label="<%= member.fullName %>" data-amount="<%= member.total_points %>"></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<section>
  <h3 class="module-title pvl"><%= fa_icon "users" %> Active Members (Supercards)</h3>
  <div class="row">
    <% @board.members_with_cards.each do |member| %>
      <div class="col-md-3">
        <div class="card card-super">
          <%= image_tag trello_image(member), class: "card-photo mtl mvm" %>
          <h3><%= member.fullName %></h3>
          <ul class="card-list">
            <li>Total cards: <strong><%= member.cards.count %></strong></li>
            <li>Average points per card: <strong><%= member.average_points %></strong></li>
            <li>Total points: <strong><%= member.total_points %></strong></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</section>