<!DOCTYPE html>
<html>
<head>
  <title>Trellando</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrap">
  <%= render "layouts/header" %>

  <section class="section-header">
    <div class="text-center">
      <%= yield :heading %>
    </div>
  </section>

  <div class="container">
    <%= yield %>
  </div>
</div>

<footer class="section-footer">
  <p class="text-center text-muted"><strong>Trellando</strong> is not a official brand from Trello.</p>
</footer>

</body>
</html>
